@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    * {
 color: white;
} 
    .body-black{
      margin: 0;
      padding: 0;
      background-color: #111124;
      display: flex;
    }

    .body-white {
      margin: 0;
      padding: 0;
      background-color: white;
      display: flex;
    }

    h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 350px 0;
}
 
    .side-var {
      background-color: #18191b;
      width: 250px;
      height: 100vh;
      display: flex;
      flex-direction:column ;
      justify-content: space-between;
      flex-shrink: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        text-align: center;
        width: 100%;
    }

    .bottom-section {
      width: 100%;  
      display: flex;
      flex-direction: column ;
      justify-content: center ;
      align-items: center;
    }

    .info {
        color:rgba( 255, 255, 255, 0.5);
        font-size: 11px;
        padding: 5px;
    }

    textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ccc;
        padding: 10px;
        border: none;
        background-color: rgba( 255, 255, 255, 0.05);
        width: 800px; /* меняет ширину */
        height: 20px;
        resize: none;
        overflow: hidden;  /* убирает ползунок прокрутки */
        font-size: 20px;
        padding: 12px 15px;
        border-radius: 15px;
        border: 1px solid #ccc;
        -webkit-border-radius: 25px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: rgba( 0, 0, 0, 0.05) 0 54px 55px,        rgba( 0, 0, 0, 0.05) 0 -12px 30px        rgba( 0, 0, 0, 0.05) 0 4px 5px,        rgba( 0, 0, 0, 0.05) 0 12px 3px,        rgba( 0, 0, 0, 0.05) 0 -3px 5px,    ;
}
    textarea::-webkit-scrollbar-thumb {
        background-color: #888; /* Цвет ползунка скроллбара */
    }

    textarea::-webkit-scrollbar {
        background-color: transparent; /* Прозрачный фон скроллбара */
    }

    textarea:focus {
        outline: none;
    }
    
    .btn-more {
        align-items: flex-start;
        color:rgba( 255, 255, 255, 0.5);
    }

    .theme {
        background: none;
        border: none;
        cursor: pointer;
      }

    .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
    }

    .trash {
      background: none;
      border: none;
      cursor: pointer;
    }

    .input-countainer {
        position: relative;
        width: 100%;
        max-width: 650px;
    }

    .btn-submit {
        border: solid 0px rgba(223, 215, 215, 0.5);
        background-color: transparent;
        position: relative;
        bottom: 47px;
        left: 470px;
        width: 8%;
        font-size: 30px;
        color: rgb(78, 65, 65);
    }
    .btn-trash {
        border: solid 0px rgba( 255, 255, 255, 0.5);
        background-color: transparent;
        position: relative;
        bottom: 47px;
        left: 450px;
        width: 8%;
        font-size: 30px;
        cursor: pointer;
    }
    
    .btn {
        border: solid 0.5px rgba( 255, 255, 255, 0.5);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: transparent;
}
    .active {
        background-color: green;
        cursor: pointer;
        border: solid 0px green;
        position: relative;
        bottom: 33px;
        left: 160px;
        width: 8%;
    }

nav {
border-bottom: solid 0.5px rgba( 255, 255, 255, 0.5);
padding: 10px;
margin: 10px;
}

.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.history p {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;  /*  Код для отображения ответа  - работает ли>? если что удалить и в html и css */
  }
 
  .fadeIn {
    opacity: 1;
    display: block;  /*  Код для отображения ответа  - работает ли>? если что удалить и в html и css */
  }

select {
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  option {
    color: black;
    background-color: transparent;
  }
  
  option:checked {
    background-color: transparent;
    color: rgb(48, 38, 38);
  }
  
  select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
  
  .no-marker {
    list-style-type: none;
  }
  
  .add-chat {
    text-align: center;
    border-style: dotted;
  }

  .list-item {
    justify-content: center;
    text-align: center;
  }

  .custom-scrollbar {
    white-space: nowrap; /* Запрет переноса строк */
    overflow: hidden
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* Высота скроллбара */
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка скроллбара */
    border-radius: 4px; /* Скругление углов ползунка п*/
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет трека скроллбара */
  }

  .custom-scrollbar:hover {
    overflow-y: auto; /* Включить вертикальную прокрутку при наведении */
  }

  