/* Импорт шрифта Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    /* Установка цвета текста для всех элементов */
    * {
 color: white;
} 

body{ 
  margin: 0;
  padding: 0;
  display: flex;
}
    .main-black{
      background-color: #091b24;
    }

    .main-white {
      background-color: white;
    }

    h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 350px 0;
}
 
/* Стили для боковой панели */
    .side-var {
      background-color: #122514;
      width: 250px;
      height: 100vh;
      display: flex;
      flex-direction:column ;
      justify-content: space-between;
      flex-shrink: 0;
    }

     /* Стили для основного контента */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        text-align: center;
        width: 100%;
        overflow-x: auto;
        max-width: 100%; 
        overflow-x: hidden;  
    }

     /* Стили для нижней секции */
    .bottom-section {
      width: 100%;  
      display: flex;
      flex-direction: column ;
      align-items: center;
      justify-content: center ;
    }

     /* Стили для информационного текста */
    .info {
        color:rgba( 255, 255, 255, 0.5);
        font-size: 11px;
        padding: 5px;
    }

    /* Стили для области ввода текста */
    textarea {
        max-height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: none;
        background-color: rgba( 255, 255, 255, 0.05);
        width: 800px; /* меняет ширину */
        height: 24px;
        resize: none;
        overflow: auto;  /* убирает ползунок прокрутки */
        font-size: 20px;
        padding: 12px 15px;
        border-radius: 15px;
        border: 1px solid #ccc;
        -webkit-border-radius: 25px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: rgba( 0, 0, 0, 0.05) 0 54px 55px,        rgba( 0, 0, 0, 0.05) 0 -12px 30px        rgba( 0, 0, 0, 0.05) 0 4px 5px,        rgba( 0, 0, 0, 0.05) 0 12px 3px,        rgba( 0, 0, 0, 0.05) 0 -3px 5px,    ;
}
/* Стили для ползунка прокрутки области ввода текста */
    textarea::-webkit-scrollbar-thumb {
        background-color: transparent; /* Цвет ползунка скроллбара */
    }

 /* Стили для фона полосы прокрутки области ввода текста */
    textarea::-webkit-scrollbar {
        background-color: transparent; /* Прозрачный фон скроллбара */
    }

     /* Убрать контур при фокусе на области ввода текста */
    textarea:focus {
        outline: none;
    }
    
   /* textarea:hover { -------------------------------- если понадобится
      border: 1px solid  green/* Цвет элемента при наведении */
    /*} 
    
     /* Стили для кнопки "Показать больше" */
    .btn-more {
        align-items: flex-start;
        color:rgba( 255, 255, 255, 0.5);
    }

     /* Стили для кнопки смены темы */
    .theme {
        background: none;
        border: none;
        cursor: pointer;
      }

      /* Стили для кнопки переключения темы */
    .theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Стили для корзины */
    .trash {
      background: none;
      border: none;
      cursor: pointer;
    }

     /* Стили для контейнера с инпутом */
    .input-countainer {
        position: relative;
        width: 100%;
        max-width: 650px;
    }

   /* Стили для кнопки отправки */
    .btn-submit {
        border: solid 0px rgba(223, 215, 215, 0.5);
        background-color: transparent;
        position: relative;
        bottom: 47px;
        left: 435px;
        width: 8%;
        font-size: 30px;
        color: rgb(78, 65, 65);
    }
    
     /* Общие стили для кнопок */
    .btn {
        border: solid 0.5px rgba( 255, 255, 255, 0.5);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: transparent;
}

/* Стили для активной кнопки */
    .active {
        background-color: rgb(25, 195, 125);
        cursor: pointer;
        border: solid 0px rgb(25, 195, 125);
        position: relative;
        bottom: 47px;
        left: 435px;
        width: 8%;
        font-size: 30px;
        color: white;
    }

    /* Стили для навигации */
nav {
border-bottom: solid 0.5px rgba( 255, 255, 255, 0.5);
padding: 10px;
margin: 10px;
}

/* Стили для истории сообщений */
.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.history p {
    cursor: pointer;
}

 /* Стили для скрытого элемента */
.hidden {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;  /*  Код для отображения ответа  - работает ли>? если что удалить и в html и css */
  }

  /* Стили для списка выбора */
select {
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
 /* Стили для опции выбора */
  option {
    color: black;
    background-color: transparent;
  }
  
  option:checked {
    background-color: transparent;
    color: rgb(48, 38, 38);
  }
  
  select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
  
  /* Стили для списка без маркеров */
  .no-marker {
    list-style-type: none;
    cursor: pointer;
  }

  .no-marker:hover {
    background-color: #808080;
  }
  
  /* Стили для кнопки добавления чата */
  .add-chat {
    text-align: center;
    border-style: dotted;
  }

  .add-chat:hover {
    background-color: #808080;
  }

   /* Стили для активного чата */
  .active-chat {
    background-color: #808080;
  }

   /* Стили для элементов списка */
  .list-item {
    justify-content: left;
    text-align: left;
  }

   /* Стили для кастомного скроллбара */
  .custom-scrollbar {
    white-space: nowrap; /* Запрет переноса строк */
    overflow: hidden
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* Высота скроллбара */
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка скроллбара */
    border-radius: 4px; /* Скругление углов ползунка п*/
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет трека скроллбара */
  }

  .custom-scrollbar:hover {
    overflow-y: auto; /* Включить вертикальную прокрутку при наведении */
  }

  .custom-scr0llbar {
    white-space: nowrap; /* Запрет переноса строк */
    overflow: hidden
  }
  
  .custom-scr0llbar::-webkit-scrollbar {
    height: 12px; /* Высота скроллбара */
    width: 12px;
  }
  
  .custom-scr0llbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /*Цветползункаскроллбара*/border-radius: 6px;
     /* Скругление углов ползунка п*/  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
  .custom-scr0llbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет трека скроллбара */
  }

  .custom-scr0llbar:hover {
    overflow-y: auto; /* Включить вертикальную прокрутку при наведении */
  }
  
  /* Стили для вопросов user's */
/* Styles for User's Questions */
.user-message {
padding: 10px 20px;
border-radius: 10px;
max-width: 60%;
white-space: pre-wrap;
text-align: right;
margin: 20px auto;
background-color: #009754;
border: 1px solid #009754;
}

.assistant-message {
padding: 10px 20px;
border-radius: 10px;
max-width: 60%;
white-space: pre-wrap;
display: block;
margin: 20px auto;
background-color: #FFFFFF;
border: 1px solid #009754;
color: #333333;
}